
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    background: #FCFCFB;
}

.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #ADB8BC , #9D9CAE);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px; 
    padding: 40px 35px;
    text-align: center;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    border: 0;
    outline: 0;
    background: #FCFCFB;
    color: #080806;
    padding: 10px 25px;
    height: 60px;
    border-radius: 16px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button{
    border: 0;
    outline: 0;
    background: #FCFCFB;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img{
    width: 30px;
    height: 30px;
}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}

.weather h1{
    font-size: 60px;
    font-weight: 500;
}

.weather h2{
    font-size: 50px;
    font-weight: 400;
    margin-top: -10px;
}