:root {
  --text: #e8eef6;
  --background: #060a0e;
  --primary: #98b8d6;
  --secondary: #7e4333;
  --accent: #bcbb58;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: var(--background);
  color: var(--text);
}

.container {
  text-align: center;
  width: 100%;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid var(--secondary);
  margin-bottom: 20px;
  background-color: var(--background);
  color: var(--text);
}

select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid var(--secondary);
  margin-bottom: 20px;
  background-color: var(--background);
  color: var(--text);
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: var(--accent);
  color: var(--text);
  cursor: pointer;
  margin: 5px 0;
}

button:hover {
  background-color: var(--secondary);
}

button#pause-button {
  background-color: var(--secondary);
}

button#pause-button:hover {
  background-color: var(--accent);
}

textarea::-webkit-scrollbar {
  width: 12px;
}

textarea::-webkit-scrollbar-track {
  background: var(--background);
}

textarea::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border-radius: 10px;
  border: 3px solid var(--background);
}

textarea::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary);
}

.hamburger-icon {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  color: var(--text);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  background-color: var(--background);
  margin: 10% auto;
  padding: 20px;
  border: 1px solid var(--primary);
  width: 90%;
  max-width: 400px;
  color: var(--text);
  text-align: center;
}

.close-modal {
  color: var(--text);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
  color: var(--secondary);
  text-decoration: none;
  cursor: pointer;
}

.copy-text {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: var(--accent);
  color: var(--text);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.copy-text:hover {
  background-color: var(--secondary);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

/* Style for the select dropdown scrollbar */
select::-webkit-scrollbar {
  width: 12px;
}

select::-webkit-scrollbar-track {
  background: var(--background);
}

select::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border-radius: 10px;
  border: 3px solid var(--background);
}

select::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary);
}

.wave-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  visibility: hidden;
  margin-bottom: 20px;
}

.wave-bar {
  width: 10px;
  height: 30px;
  margin: 0 2px;
  background: var(--accent);
  animation: wave 1s infinite;
}

.wave-bar:nth-child(2) {
  animation-delay: 0.1s;
}

.wave-bar:nth-child(3) {
  animation-delay: 0.2s;
}

.wave-bar:nth-child(4) {
  animation-delay: 0.3s;
}

.wave-bar:nth-child(5) {
  animation-delay: 0.4s;
}

.wave-bar:nth-child(6) {
  animation-delay: 0.5s;
}

.wave-bar:nth-child(7) {
  animation-delay: 0.6s;
}

.wave-bar:nth-child(8) {
  animation-delay: 0.7s;
}

.wave-bar:nth-child(9) {
  animation-delay: 0.8s;
}

.wave-bar:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(2);
  }
  100% {
    transform: scaleY(1);
  }
}

@media (max-width: 600px) {
  .container {
    width: 90%;
    padding: 10px;
  }

  textarea {
    font-size: 14px;
    padding: 5px;
  }

  select {
    font-size: 14px;
    padding: 5px;
  }

  button {
    font-size: 14px;
    padding: 8px 16px;
  }

  .modal-content {
    width: 90%;
    padding: 10px;
  }

  .wave-container {
    height: 80px;
  }

  .wave-bar {
    width: 5px;
    height: 20px;
  }
}

@media (min-width: 601px) {
  .container {
    width: 50%;
  }

  .modal-content {
    width: 80%;
  }
}
