:root {
  --text: #e8eef6;
  --background: #060a0e;
  --primary: #98b8d6;
  --secondary: #7e4333;
  --accent: #bcbb58;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: var(--background);
  color: var(--text);
}

.container {
  text-align: center;
  width: 100%;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

textarea {
  width: 80%;
  height: 100px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid var(--secondary);
  margin-bottom: 20px;
  background-color: var(--background);
  color: var(--text);
}

select {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid var(--secondary);
  margin-bottom: 20px;
  background-color: var(--background);
  color: var(--text);
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: var(--accent);
  color: var(--text);
  cursor: pointer;
}

button:hover {
  background-color: var(--secondary);
}

.wave-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  visibility: hidden;
}

.wave-bar {
  width: 5px;
  height: 30px;
  margin: 0 2px;
  background: var(--accent);
  animation: wave 1s infinite;
}

.wave-bar:nth-child(2) {
  animation-delay: 0.1s;
}

.wave-bar:nth-child(3) {
  animation-delay: 0.2s;
}

.wave-bar:nth-child(4) {
  animation-delay: 0.3s;
}

.wave-bar:nth-child(5) {
  animation-delay: 0.4s;
}

.wave-bar:nth-child(6) {
  animation-delay: 0.5s;
}

.wave-bar:nth-child(7) {
  animation-delay: 0.6s;
}

.wave-bar:nth-child(8) {
  animation-delay: 0.7s;
}

.wave-bar:nth-child(9) {
  animation-delay: 0.8s;
}

.wave-bar:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(2);
  }
  100% {
    transform: scaleY(1);
  }
}

@media (max-width: 600px) {
  .container {
    width: 90%;
  }
}

@media (min-width: 601px) {
  .container {
    width: 50%;
  }
}
