
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:cursive;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg , #8897B3, #ABC1CA);
    padding: 10px;
    position: absolute;
}

.todo-app{
  width: 100%;
  max-width: 540px;
  background-color: #FAFCFB;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.todo-app h2{
  color: #0B110C;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 25px;
}

.todo-app h2 img{
  width: 40px;
  padding-right: 5px;
}

.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border: 1px solid #0A0F0A;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

input{
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-weight: 14px;
}

button{
  border: none;
  outline: none;
  padding: 16px 30px;
  background: #0A0F0A;
  color: #F0F5F0;
  font-size: 14px;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.6s ease;
}

button:hover {
  background: #0A0F0A;
  transform: scale(0.8);
}

ul li{
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  position: relative;
}

ul li::before{
  content:'';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(images/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}

ul li.checked{
  color:#555;
  text-decoration: line-through;
  font-style: italic;
}

ul li.checked::before{
  background-image: url(images/yes.svg);
}

.char-count-container {
  text-align: right; 
  margin-right: 15px;
}

span.char-count {
  color: grey; /* default color */
}

span.char-count.near-limit {
  color: red;  /* color when near the limit */
}

ul li span{
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 18px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 25%;
  transition: all 0.6s ease;
  cursor: pointer;
}
ul li span:hover{
  background: rgba(255, 0, 0, 0.562);
  color: #0A0F0A;
  transform: scale(.8);
}

/* body{
  overflow: hidden;
} */



@media (max-width: 600px){
  .char-count-container {
    display: none;
  }

  body{
    font-family: fantasy;
  }
}