
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}




.hero{
  width: 100%;
  min-height: 100vh;
  background: #030303;
  color: #EEEEF1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.container{
  width: 800px;
  height: 180px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clock {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(87, 95, 127, 0.8); /* Make background semi-transparent */
  border-radius: 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Safari */
}


.container::before, .container::after {
  position: absolute;
  z-index: -1;
  content: '';
}

.container::before {
  width: 180px;
  height: 180px;
  background: #BBAAB7;
  border-radius: 5px;
  left: -50px;
  top: -50%;
}

.container::after {
  width: 180px;
  height: 180px;
  background: #A38F94;
  border-radius: 50%;
  right: -30px;
  bottom: -50%;
}

.clock span{
  font-size: 80px;
  width: 110px;
  display: inline-block;
  text-align: center;
  position: relative;
}

.clock span::after{
  position: absolute;
  font-size: 16px;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

#hrs::after{
  content: 'HRS';
}

#min::after{
  content: 'MIN';
}

#sec::after{
  content: 'SEC';
}