body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #000;
  flex-direction: column;
}

#scoreboard {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 20px;
}

.container {
  display: flex;
  align-items: center;
  position: relative;
}

canvas {
  border: 2px solid #fff;
}

#fireworksCanvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  pointer-events: none;
}

#winnerMessage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #FFD700;
  text-shadow: 0 0 5px #FFD700, 0 0 10px #FFD700;
  z-index: 10;
}

#menu {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  padding: 20px;
  border: 2px solid #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  z-index: 10;
}

#menu h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

#menu button {
  background: #333;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
  transition: background 0.3s, color 0.3s, transform 0.3s;
}

#smallDeviceMessage h2 {
  font-size: 2rem;
  text-shadow: 0 0 5px #FFD700, 0 0 10px #FFD700;
}

#menu button:hover {
  background: #555;
  color: #ffd700;
  transform: scale(1.05);
}

.hidden {
  display: none;
}

/* toggle functionality for menu */

.toggle-container {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.toggle-container span {
  margin-right: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

/* Modal styles */
.modal {
  position: fixed;
  bottom: -100%;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  transition: bottom 0.5s ease;
  z-index: 20;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content h2 {
  margin-bottom: 10px;

}

.modal-content input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #fff;
}

.modal-content button {
  padding: 10px 20px;
  background: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.modal-content button:hover {
  background: #555;
}

.modal.show {
  bottom: 45%;
}

@media (max-width: 1250px) {
  #smallDeviceMessage {
    display: flex; /* Show the message on small screens */
    justify-content: center;
    align-items: center;
  }

  #scoreboard,
  .container,
  #menu,
  #winnerMessage {
    display: none;
  }
}