body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #c51515;
  flex-direction: column;
}

#scoreboard {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 20px;
}

canvas {
  border: 2px solid #fff;
}

#menu {
  display: none;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 20px;
  border: 2px solid #fff;
  margin-top: 20px;
}

.hidden {
  display: none;
}
