body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #000;
  flex-direction: column;
}

#scoreboard {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 20px;
}

.container {
  display: flex;
  align-items: center;
  position: relative;
}

canvas {
  border: 2px solid #fff;
}

#fireworksCanvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  pointer-events: none;
}

#winnerMessage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #FFD700;
  text-shadow: 0 0 5px #FFD700, 0 0 10px #FFD700;
  z-index: 10;
}

#menu {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  padding: 20px;
  border: 2px solid #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  z-index: 10;
}

#menu h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

#menu button {
  background: #333;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
  transition: background 0.3s, color 0.3s, transform 0.3s;
}

#smallDeviceMessage h2 {
  font-size: 2rem;
  text-shadow: 0 0 5px #FFD700, 0 0 10px #FFD700;
}

#menu button:hover {
  background: #555;
  color: #ffd700;
  transform: scale(1.05);
}

.hidden {
  display: none;
}


@media (max-width: 1250px) {
  #smallDeviceMessage {
    display: flex; /* Show the message on small screens */
    justify-content: center;
    align-items: center;
  }

  #scoreboard,
  .container,
  #menu,
  #winnerMessage {
    display: none;
  }
}